@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

}
 
@layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-24 max-md:pb-32 sm:px-10;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between;
  }

  .leftsidebar {
    @apply sticky left-5 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto pb-5 pt-32 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4 font-semibold text-lg text-white hover:bg-[#6789BA] hover:rounded-2xl;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto px-10 pb-6 pt-32 max-xl:hidden;
  }

  .organisation-card {
    @apply flex flex-col justify-between gap-4 text-white bg-[#8AA4CA] rounded-2xl hover:bg-[#6789BA] hover:rounded-2xl px-5 py-5;
  }
  
  .organisation-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3;
  }

  .organisation-header {
    @apply flex flex-col w-full ml-10 px-10 pt-10 bg-[#8AA4CA] rounded-3xl
  }

  .organisation-content {
    @apply flex flex-col w-full px-10 pt-10 bg-[#8AA4CA] rounded-3xl
  }

  .profile-header {
    @apply flex flex-col w-full ml-10 px-10 pt-10 bg-[#8AA4CA] rounded-3xl
  }

  .tab {
    @apply flex min-h-[50px] w-full mt-3 flex-1 items-center gap-3 data-[state=active]:bg-[#6789BA] rounded-3xl font-semibold text-white text-lg !important;
  }

  .job-card {
    @apply flex flex-col justify-between gap-4 text-white bg-[#8AA4CA] hover:bg-[#6789BA] hover:rounded-2xl rounded-2xl px-5 py-5 w-full;
  }
  
  .job-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3;
  }

  .application-card {
    @apply flex flex-col justify-between gap-4 text-white bg-[#8AA4CA] hover:bg-[#6789BA] hover:rounded-2xl rounded-2xl px-5 py-5 w-full;
  }
  
  .application-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg px-4 py-2;
  }

  .searchbar_input {
    @apply border-none outline-none bg-[#8AA4CA] rounded-3xl !important;
  }

  .user-card {
    @apply flex flex-col justify-between gap-4 bg-[#8AA4CA] hover:bg-[#6789BA] rounded-2xl px-5 py-5;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg text-[12px] font-semibold text-white !important;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

.circles {
  background-color: #E6E6E6;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #6789BA, #E6E6E6);
  background-blend-mode: multiply;
}